html {
  line-height: 1.5;
}

.disabled {
  pointer-events: none;
  opacity: 0.3;
}

.inner {
  padding-right: 16px;
  padding-left: 16px;
}

@media screen and (min-width:1024px) {
  .sp {
    display: none !important;
  }
}

@media screen and (max-width:1023px) {
  .pc {
    display: none !important;
  }
}


