.controler {
  margin-top: 24px;
}

.contents {
  margin-top: 64px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 320px;
}

.sendButton {
  margin-top: 64px;
}

.controler {
  margin-top: 24px;
}

@media screen and (min-width: 1024px) {
  .container {
    display: flex;
  }

  .contents {
    width: 50vw;
    margin: auto;
  }

  .contents > h1 {
    color: #ff971d;
  }

  .form {
    margin-top: 64px;
  }
}
