.formWrapper {
  padding: 16px;
}

.userForm {
  margin-top: 64px;
}

.emailForm {
  margin-top: 32px;
}

.contactForm {
  margin-top: 32px;
}

.createButton {
  margin-top: 72px;
}

@media screen and (min-width: 1024px) {
  .container {
    display: flex;
  }

  .uploadWrapper {
    width: 50vw;
    height: 80px;
    padding: 16px;
  }

  .responsiveTitle {
    display: flex;
    justify-content: center;
    margin-top: 32px;
    color: #ff971d;
  }

  .formWrapper {
    width: 50vw;
    padding: 16px;
  }
}
