.controler {
  margin-top: 24px;
}

.contents {
  margin-top: 32px;
}

.formArea {
  margin-top: 32px;
}

.formArea > div {
  margin-top: 32px;
}

.formArea > button {
  margin-top: 32px;
}

.buttonArea {
  margin-top: 48px;
}

hr {
  height: 0;
  margin-top: 48px;
  overflow: visible;
  text-align: center;
  border: none;
  border-top: 1px solid #d4d4d4;
}

hr:after {
  position: relative;
  top: -13px;
  padding: 0 4px;
  color: #8c8a8a;
  content: 'または';
  background-color: #fff;
}

@media screen and (min-width: 1024px) {
  .container {
    width: 50vw;
    margin-top: 96px;
  }

  .contents {
    width: 70%;
    margin: auto;
  }

  .form {
    margin-top: 48px;
  }

  .contents > h1 {
    color: #ff971d;
  }

  .contents > p {
    margin-top: 32px;
  }

  .fullWidthButton > button {
    margin-top: 64px;
  }
}
