.authArea {
  width: 100vw;
  height: 64px;
}

.authArea > div:first-child {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.authArea > div > button {
  width: 40%;
  height: 40px;
  margin-top: 32px;
  color: #fff;
  background-color: #ff971d;
  border-radius: 5px;
}

.authArea > div > p {
  padding: 16px;
  margin-top: 32px;
  border: 1px solid #ff971d;
  border-radius: 5px;
}

.container {
  position: relative;
  overflow: hidden;
}

.messageContents {
  position: fixed;
  bottom: 0;
  z-index: 50;
  width: 100%;
  height: fit-content;
  padding: 8px 0;
  background-color: #fff;
  border-top: 1px solid rgb(227, 227, 227);
}

.messageContents > button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  color: #333;
  background-color: #fff;
  border-radius: 10px 10px 0 0;
}

.list {
  position: relative;
  width: 100%;
  height: calc(100vh - 121px);
  overflow-y: scroll;
  white-space: nowrap;
}

.list > ul > li:not(:first-child) {
  margin-top: 16px;
  border-top: 1px solid rgb(227, 227, 227);
}

.oneline {
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 16px;
}

.oneline > div > h1 {
  width: calc(100vw - 140px);
  margin-left: 8px;
  overflow: hidden;
  color: rgba(51, 51, 51, 0.8);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.oneline > div + div {
  height: fit-content;
  padding: 0;
  font-size: 8px;
}

.message {
  margin-left: 40px;
}

.message > p {
  white-space: pre-wrap;
}

.messageContents > div {
  width: calc(100% - 96px);
}

@media screen and (min-width: 1024px) {
  .authArea {
    width: calc(100vw - 550px);
  }

  .messageContents {
    padding: 0;
  }

  .list {
    position: relative;
    width: calc(100vw - 550px);
    height: calc(100vh - 113px);
    padding-top: 8px;
    overflow-y: scroll;
    white-space: nowrap;
  }

  .container {
    width: calc(100vw - 550px);
  }

  .oneline > div > h1 {
    width: calc(100vw - 700px);
  }

  .messageContents > div {
    width: calc(100vw - 550px);
  }

  .messageContents > span {
    align-items: center;
    justify-content: space-between;
    width: calc(100vw - 550px);
    height: 32px;
    background-color: #ff971d;
    border-radius: 10px 10px 0 0;
  }

  .messageContents > span > button {
    color: #fff;
    background-color: #ff971d;
  }
}
