.contents {
  position: relative;
  z-index: 10;
  padding-top: 64px;
  background-color: #fff;
}

.form div + div {
  margin-top: 32px;
}

.buttonArea {
  margin-top: 64px;
}

.controler {
  margin-top: 24px;
}
