.contents {
  position: relative;
  z-index: 10;
  padding-top: 64px;
  background-color: #fff;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 240px;
}

.controler {
  margin-top: 24px;
}
