.contents {
  position: relative;
  z-index: 10;
  padding-top: 40px;
  background-color: #fff;
}

.BackgroundImage {
  pointer-events: none;
}

@media screen and (min-width: 1024px) {
  .container {
    width: 400px;
    height: 50vh;
    border-bottom: 1px solid rgb(227, 227, 227);
  }

  .contents {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .aside {
    flex: 1;
    border-left: 1px solid rgb(227, 227, 227);
  }

  .aside > div {
  }
}
