.button {
  cursor: pointer;
  transition: 0.2s;
}

.button.small {
  height: 32px;
  padding: 0 12px;
  border-radius: 32px;
  font-size: 0.8rem;
}

.button.medium {
  height: 40px;
  padding: 0 14px;
  border-radius: 40px;
  font-size: 0.9rem;
}

.button.large {
  height: 48px;
  padding: 0 16px;
  border-radius: 48px;
  font-size: 1rem;
}



.contained.primary {
  color: #fff;
  background-color: #ff971d;
}

.contained.primary:hover {
  background-color: #ff8f0f;
}

.contained.inherit {
  color: inherit;
  background-color: #c2c1c1;
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.1);
}

.contained.inherit:hover {
  background-color: #fff;
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.1);
}

.contained.white {
  color: #333;
  background-color: #fff;
}

.contained.white:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.contained.danger {
  color: #fff;
  background-color: #e51a1a;
}

.contained.danger:hover {
  background-color: #f41111;
}

.outlined {
  background: transparent;
  border: solid 1px #333;
}

.outlined.primary {
  color: #ff971d;
  border-color: #ff971d;
}

.outlined.primary:hover {
  color: #ff8f0f;
  background-color: rgba(255, 143, 15, 0.1);
  border-color: #ff8f0f;
}

.outlined.inherit {
  color: inherit;
  border-color: inherit;
}

.outlined.inherit:hover {
  /* color: #afafaf; */
  background-color: rgba(175, 175, 175, 0.1);
  /* border-color: #afafaf; */
}

.outlined.white {
  color: #fff;
  border-color: #fff;
}

.outlined.white:hover {
  color: rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.2);
}

.outlined.danger {
  color: #e51a1a;
  border-color: #e51a1a;
}

.outlined.danger:hover {
  color: #f41111;
  background-color: rgba(244, 17, 17, 0.1);
  border-color: #f41111;
}

.text {
  background-color: transparent;
}

.text.primary {
  color: #ff971d;
}
.text.primary:hover {
  background-color: rgba(255, 143, 15, 0.1);
}

.text.inherit {
  color: inherit;
}
.text.inherit:hover {
  background-color: rgba(175, 175, 175, 0.1);
}

.text.white {
  color: #fff;
}

.text.white:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.text.danger {
  color: #e51a1a;
}
.text.danger:hover {
  background-color: rgba(244, 17, 17, 0.1);
}

.fullWidth {
  width: 100%;
}
