.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  padding: 0 16px;
  border-radius: 48px;
  cursor: pointer;
  transition: 0.2s;
}

.contained.primary {
  background-color: #ff971d;
  color: #fff;
}

.contained.primary:hover {
  background-color: #ff8f0f;
}

.contained.gray {
  background-color: #c2c1c1;
  color: #fff;
}

.contained.gray:hover {
  background-color: #afafaf;
}

.contained.white {
  background-color: #fff;
  color: #333;
}

.contained.white:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.contained.danger {
  background-color: #e51a1a;
  color: #fff;
}

.contained.danger:hover {
  background-color: #f41111;
}

.outlined {
  border: solid 1px #333;
  background: transparent;
}

.outlined.primary {
  border-color: #ff971d;
  color: #ff971d;
}

.outlined.primary:hover {
  border-color: #ff8f0f;
  background-color: rgba(255, 143, 15, 0.1);
  color: #ff8f0f;
}

.outlined.gray {
  border-color: #c2c1c1;
  color: #c2c1c1;
}

.outlined.gray:hover {
  border-color: #afafaf;
  background-color: rgba(175, 175, 175, 0.1);
  color: #afafaf;
}

.outlined.white {
  border-color: #fff;
  color: #fff;
}

.outlined.white:hover {
  border-color: rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.2);
}

.outlined.danger {
  border-color: #e51a1a;
  color: #e51a1a;
}

.outlined.danger:hover {
  border-color: #f41111;
  background-color: rgba(244, 17, 17, 0.1);
  color: #f41111;
}

.text {
  background-color: transparent;
}

.text.primary {
  color: #ff971d;
}
.text.primary:hover {
  background-color: rgba(255, 143, 15, 0.1);
}

.text.gray {
  color: #c2c1c1;
}
.text.gray:hover {
  background-color: rgba(175, 175, 175, 0.1);
}

.text.white {
  color: #fff;
}

.text.white:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.text.danger {
  color: #e51a1a;
}
.text.danger:hover {
  background-color: rgba(244, 17, 17, 0.1);
}

.fullWidth {
  width: 100%;
}
