.input {
  height: 48px;
  width: 390px;
  padding-left: 16px;
  border-radius: 5px;
  color: #333;
}

.textarea {
  display: block;
  overflow: hidden;
}

.input:not(.filled):hover {
  background: rgba(163, 167, 174, 0.03);
}

.isError .input:not(:placeholder-shown) + .label {
  color: #e51a1a;
}

.textfiled {
  position: relative;
}

.textfiled .input:focus:not(:placeholder-shown) + .label {
  color: #ff971d;
}

.label {
  color: #8c8a8a;
  pointer-events: none;
}

.input.outlined {
  border-color: #b4b4b4;
}

.outlined .iconNone + .label {
  position: absolute;
  top: 24px;
  left: 16px;
  transform: translateY(-50%);
}

.outlined .icon {
  position: absolute;
  top: 24px;
  left: 16px;
  transform: translateY(-50%);
  color: #8c8a8a;
}

.icon + label .outlined {
  padding-left: 48px;
}

.outlined .icon.label {
  position: absolute;
  top: 24px;
  left: 48px;
  transform: translateY(-50%);
}

.textfiled .outlined:not(:placeholder-shown) + .label {
  position: absolute;
  top: 0;
  left: 16px;
  transform: translate(-15%, -50%) scale(0.75);
  padding: 0 6px;
  transition: all 0.2s ease;
}

.isError .outlined {
  border-color: #e51a1a;
}

.primary.outlined:focus + .iconNone.label {
  position: absolute;
  top: 0;
  left: 16px;
  transform: translate(-20%, -50%) scale(0.75);
  padding: 0 6px;
  background: #fff;
  color: #ff971d;
  transition: all 0.2s ease;
}

.primary.outlined:focus + .icon.label {
  position: absolute;
  top: 0;
  left: 16px;
  transform: translate(-15%, -50%) scale(0.75);
  padding: 0 6px;
  background: #fff;
  color: #ff971d;
  transition: all 0.2s ease;
}

.primary.outlined:focus {
  border-color: #ff971d;
}

.black.outlined:focus + .iconNone.label {
  position: absolute;
  top: 0;
  left: 12px;
  transform: translate(-20%, -50%) scale(0.75);
  padding: 0 6px;
  background: #fff;
  color: #333;
  transition: all 0.2s ease;
}

.black.outlined:focus + .icon.label {
  position: absolute;
  top: 0;
  left: 12px;
  transform: translate(-15%, -50%) scale(0.75);
  padding: 0 6px;
  background: #fff;
  color: #333;
  transition: all 0.2s ease;
}

.black.outlined:focus {
  border-color: #333;
  color: #333;
}

.input.standard {
  padding-left: 0;
  border: none;
  border-bottom: solid 1px #d4d4d4;
  border-radius: 0;
}

.standard .iconNone + .label {
  position: absolute;
  top: 24px;
  left: 0;
  transform: translateY(-50%);
}

.standard .icon {
  position: absolute;
  top: 24px;
  left: 0;
  transform: translateY(-50%);
  color: #8c8a8a;
}

.icon + label .standard {
  padding-left: 32px;
}

.standard .icon.label {
  position: absolute;
  top: 24px;
  left: 32px;
  transform: translateY(-50%);
}

.textfiled .standard:not(:placeholder-shown) + .label {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-15%, -50%) scale(0.75);
  transition: all 0.2s ease;
}

.isError .standard {
  border-bottom-color: #e51a1a;
}

.primary.standard:focus + .iconNone.label {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-15%, -50%) scale(0.75);
  color: #ff971d;
  transition: all 0.2s ease;
}

.primary.standard:focus + .icon.label {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-13%, -50%) scale(0.75);
  color: #ff971d;
  transition: all 0.2s ease;
}

.primary.standard:focus {
  border-bottom-color: #ff971d;
}

.black.standard:focus + .iconNone.label {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-15%, -50%) scale(0.75);
  color: #333;
  transition: all 0.2s ease;
}

.black.standard:focus + .icon.label {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-13%, -50%) scale(0.75);
  color: #333;
  transition: all 0.2s ease;
}

.black.standard:focus {
  border-bottom-color: #333;
}

.input.filled {
  padding-left: 12px;
  border: none;
  border-bottom: solid 1px #d4d4d4;
  border-radius: 5px 5px 0 0;
  background: #f9f6f7;
}

.filled .iconNone + .label {
  position: absolute;
  top: 24px;
  left: 12px;
  transform: translateY(-50%);
}

.filled .icon {
  position: absolute;
  top: 24px;
  left: 12px;
  transform: translateY(-50%);
  color: #8c8a8a;
}

.icon + label .filled {
  padding-left: 40px;
}

.filled .icon.label {
  position: absolute;
  top: 24px;
  left: 40px;
  transform: translateY(-50%);
}

.textfiled .filled:not(:placeholder-shown) + .label {
  position: absolute;
  top: 0;
  left: 12px;
  transform: translate(-15%, -50%) scale(0.75);
  transition: all 0.2s ease;
}

.isError .filled {
  border-bottom-color: #e51a1a;
}

.primary.filled:focus + .iconNone.label {
  position: absolute;
  top: 0;
  left: 12px;
  transform: translate(-15%, -50%) scale(0.75);
  color: #ff971d;
  transition: all 0.2s ease;
}

.primary.filled:focus + .icon.label {
  position: absolute;
  top: 0;
  left: 12px;
  transform: translate(-13%, -50%) scale(0.75);
  color: #ff971d;
  transition: all 0.2s ease;
}

.primary.filled:focus {
  border-bottom-color: #ff971d;
}

.black.filled:focus + .iconNone.label {
  position: absolute;
  top: 0;
  left: 12px;
  transform: translate(-15%, -50%) scale(0.75);
  color: #333;
  transition: all 0.2s ease;
}

.black.filled:focus + .icon.label {
  position: absolute;
  top: 0;
  left: 12px;
  transform: translate(-13%, -50%) scale(0.75);
  color: #333;
  transition: all 0.2s ease;
}

.black.filled:focus {
  border-bottom-color: #333;
}

.small {
  height: 32px;
}

.small .icon {
  position: absolute;
  top: 16px;
  color: #8c8a8a;
}

.small .iconNone + .label {
  position: absolute;
  top: 16px;
  transform: translateY(-50%);
}

.small .icon.label {
  position: absolute;
  top: 16px;
  transform: translateY(-50%);
}

.fullWidth {
  width: 100%;
}

.rounded {
  border-radius: 24px;
}

.multiLines {
  width: 390px;
  min-height: 48px;
  padding: 11px 16px;
  border-radius: 5px;
  color: #333;
  resize: none;
}

.multiLines.small {
  min-height: 32px;
  padding: 3px 16px;
}

.multiLines.icon {
  position: absolute;
  top: 0;
  left: 0;
}

.multiLines.rounded {
  border-radius: 24px;
  overflow: auto;
}

.textfiled　.inputLabel .multiLines {
  color: #333;
}

.multiLines.rounded::-webkit-scrollbar {
  width: 8px;
}

.multiLines.rounded::-webkit-scrollbar-track {
  background-color: rgba(248, 248, 248, 0.3);
  border-radius: 5px;
  margin: 8px 0;
}

.multiLines.rounded::-webkit-scrollbar-thumb {
  background-color: rgba(66, 66, 66, 0.3);
  border-radius: 5px;
  margin: 8px 0;
}

.multiLines:focus {
  border-color: #ff971d;
}

.errorMessage {
  display: inline-block;
  margin-top: 8px;
  color: #e51a1a;
}
