.backgroundImage {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 160px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.backgroundImage::before {
  position: absolute;
  top: -5px;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 105%;
  content: '';
  background: inherit;
  filter: blur(5px);
}

.backgroundImage.under > div,
.backgroundImage.left > div,
.backgroundImage.right > div {
  transform: translateY(50%);
}

.backgroundImage.under {
  align-items: flex-end;
  justify-content: center;
}

.backgroundImage.left {
  align-items: flex-end;
  justify-content: start;
}

.backgroundImage.right {
  align-items: flex-end;
  justify-content: end;
}

.backgroundImage > div {
  z-index: 20;
}

.backgroundImage.left > div {
  margin-left: 16px;
}

.backgroundImage.right > div {
  margin-right: 16px;
}
