.uploadInput {
  display: none;
}

.uploadIcon {
  position: relative;
  z-index: 20;
  border-radius: 50%;
}

.uploadIcon.small {
  width: 32px;
  height: 32px;
}

.uploadIcon.medium {
  width: 48px;
  height: 48px;
}

.uploadIcon.large {
  width: 64px;
  height: 64px;
}

.uploadIcon > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.cameraIcon {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  background-color: #fff;
  border: 1px solid #333;
  border-radius: 50%;
}

@media screen and (min-width: 1024px) {
  .uploadButton {
    margin-left: 24px;
  }
}
