.uploadWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 160px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.uploadWrapper::before {
  position: absolute;
  top: -5px;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 105%;
  content: '';
  background: inherit;
  filter: blur(5px);
}

.uploadWrapper.under > .uploadIconButton,
.uploadWrapper.left > .uploadIconButton,
.uploadWrapper.right > .uploadIconButton {
  transform: translateY(50%);
}

.uploadWrapper.under {
  align-items: flex-end;
  justify-content: center;
}

.uploadWrapper.left {
  align-items: flex-end;
}

.uploadWrapper.right {
  align-items: flex-end;
  justify-content: end;
}

.uploadIconButton {
  position: relative;
  z-index: 20;
  border-radius: 50%;
}

.uploadIconButton.small {
  width: 48px;
  height: 48px;
}

.uploadIconButton.medium {
  width: 64px;
  height: 64px;
}

.uploadIconButton.large {
  width: 120px;
  height: 120px;
}

.uploadIconButton > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.uploadInput {
  display: none;
}

.cameraIcon {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  background-color: #fff;
  border: 1px solid #333;
  border-radius: 50%;
}

@media screen and (min-width: 1024px) {
  .uploadWrapper {
    height: fit-content;
  }

  .uploadButton {
    margin-left: 24px;
  }
}
