.listArea {
  height: calc(100vh - 230px);
  border-top: 1px solid rgb(227, 227, 227);
}

.groupProfile {
  position: sticky;
  top: 56px;
  z-index: 90;
  align-items: center;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 8px;
  background-color: #fff;
}

.groupProfile > div + div {
  width: calc(100% - 64px);
}

.buttonArea {
  position: fixed;
  bottom: 0;
  z-index: 90;
  justify-content: space-evenly;
  width: 100%;
  height: 96px;
  background-color: #fff;
}

.buttonArea > button {
  vertical-align: middle;
}

.controler {
  display: flex;
  margin-top: 48px;
}

.controler > button a {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: #afafaf;
  text-decoration: none;
  background-color: #fff;
}

@media screen and (min-width: 1024px) {
  .container {
    position: relative;
    width: calc(100vw - 550px);

    border-right: 1px solid rgb(227, 227, 227);
  }

  .listArea {
    height: calc(100vh - 174px);
  }

  .groupProfile {
    top: 0;
  }

  .groupProfile > div + div {
    width: calc(100vw - 646px);
  }

  .buttonArea {
    width: calc(100vw - 550px);
  }
}
