.container {
  width: 100vw;
  height: calc(100vh - 112px);
  overflow: auto;
}

.controler {
  display: flex;
  margin-top: 48px;
}

.controler > button {
  flex: 1;
}

.controler > button a {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: #afafaf;
  text-decoration: none;
  background-color: #fff;
}

@media screen and (min-width: 1024px) {
  .container {
    position: relative;
    width: 390px;
    height: 100vh;
    border-right: 1px solid rgb(227, 227, 227);
  }
}
